@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans", system-ui, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-height: -webkit-fill-available;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.jj-han {
  font-family: "Noto Sans TC", system-ui, Arial, sans-serif;
}
